# Conector para MariaDB
mariadb

# ORM para MariaDB
sqlalchemy  

# Ferramentas para SQL no Jupyter Notebooks
ipython-sql

# Conector para Redis
redis  

# Outras bibliotecas úteis
pprintpp  
Faker  # Para gerar dados fictícios
jupyterlab  # Para trabalhar com JupyterLab no Binder
