###############################################################
#          Jupyter/JupyterLab Extensions/Kernels              #
###############################################################

# MariaDB driver for Python
mariadb

# SQLAlchemy and SQL kernel for interacting with databases
sqlalchemy
ipython-sql
jupyterlab_sql

# Redis driver for Python
redis

# Jupyter/JupyterLab extensions
jupyterlab
ipywidgets
RISE  # Slideshow extension for Jupyter notebooks

# Proxies for running other services inside JupyterLab
jupyter-server-proxy
jupyter-vscode-proxy

###############################################################
#          Additional Python packages for Jupyter kernels      #
###############################################################

# Pretty print library for Python
pprintpp

# Faker library for generating fake data (useful for testing)
Faker

###############################################################
#          End of Jupyter/JupyterLab Extensions/Kernels        #
###############################################################
